<!-- END CHANGEABLE CONTENT. -->
    </main>
    <footer container class="siteFooter">
        <p>Design uses <a href="http://concisecss.com/">Concise CSS Framework</a> </p>

        <p class="float-right">
            <?php

            date_default_timezone_set('America/Toronto');

            print date('G:i a l F j');

            ?>
        </p>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
    </footer>
</body>
</html>
<?php ob_end_flush(); ?>
